* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}


/* Navbar */
.nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background-image: linear-gradient(to right, #192a56, #273c75);
  padding: 0 !important;
}

.navbar-brand img {
  height: 60px;
  padding-left: 20px;
}

.navbar-nav li {
  padding: 0 10px;
}

.navbar-nav li a {
  font-weight: 600;
  color: #fff !important;
  float: right;
  text-align: left;
}

.fa-bars {
  color: #fff;
  font-size: 30px !important;
}

.navbar-toggler {
  outline: none !important;
}

/* Banner */
.banner {
  background-image: linear-gradient(to right, #192a56, #273c75);
  color: #fff;
  padding-top: 5%;
}

.promo-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
}

.banner .fa {
  font-size: 20px;
	padding: 10px;
}

.bottom-img {
  margin-top: 100px;
  width: 100%;
}

.btn-banner {
  background-image: linear-gradient(to right, #2980b9, #3498db);
  border-radius: 30px !important;
  padding: 10px 40px !important;
  color: #fff !important;
}

/* Service */
.service {
  padding-bottom: 80px;
  padding-top: 30px;
}

.service-img {
  width: 100px;
  margin-top: 20px;
}

.services {
  padding: 20px;
}

.services h4 {
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
}

.title::before {
  content: '';
  background: #192a56;
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}

.title::after {
  content: '';
  background: #192a56;
  height: 10px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  display: block;
  transform: translateY(8px);
}


.service .btn-primary {
  box-shadow: none;
  padding: 8px 30px;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, #2980b9, #3498db);
}

/* About */
.about {
  background: #f8f9fa;
  padding: 50px 0;
}

.about-title {
  font-size: 40px;
  font-weight: 600;
  margin-top: 8%;
}

.about ul li {
  margin: 10px 0;
}

.about ul {
  margin-left: 20px;
}

/* Testimoni */
.testimoni {
  margin: 100px 0;
  padding-top: 20px;
}

.testi {
  border-left: 4px solid #192a56;
  margin: 50px 0;
}

.testi img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin: 0 10px;
}

.user-detail {
  display: inline-block;
  font-size: 12px;
}

/* Social Media */
.social-media {
  background-color: #f8f9fa;
  padding: 100px 0;
}

.social-media p {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}

.social .fa {
  font-size: 35px;
  background-image: linear-gradient(to right, #2980b9, #3498db);
  color: #fff;
  padding: 16px 0;
  margin-top: 20px;
  margin-right: 15px;
  border-radius: 50%;
  text-align: center;
  width: 70px;
  height: 70px;
  transition: 0.5s;
}

.social .fa:hover {
    background: #192a56;
}

/* Footer */
.footer {
  background-image: linear-gradient(to right, #192a56, #273c75);
  color: #fff;
}

.footer-img {
  width: 100%;
}

.footer-box {
  padding: 20px;
}

.footer-box img {
 width: 120px;
 margin: 20px 0; 
}

.footer-box .fa {
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 5px;
  background-image: linear-gradient(to right, #192a56, #273c75);
}

.footer-box .form-control {
  box-shadow: none !important;
  border: none;
  border-radius: 0;
  margin-top: 25px;
  max-width: 250px;
}

.footer-box .btn-primary {
  box-shadow: none !important;
  border: none;
  border-radius: 15px;
  margin-top: 30px;
  background-image: linear-gradient(to right, #192a56, #273c75);
}

hr {
  background-color: #fff;
}

.copyright {
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

@media (max-width: 767.98px) {

  .social .fa {
    font-size: 25px;
    padding: 12px 0;
    text-align: center;
    width: 50px;
    height: 50px;
  }

  .promo-title {
    margin-top: 30px;
  }

  .banner img {
    margin-top: 30px;
  }

 }